<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/styles/navigation-bar.css">
  <link rel="stylesheet" href="/styles/image-grid.css">
  <title>Starting for image board</title>
</head>

<body style="background-color: black;">
  <div class="topnav">
    <div class="left">
      <a href="/">Home</a>
      <a class="active" href="/view/posts">View</a>
      <a href="/view/tags">Tags</a>
      <a href="/view/people">People</a>
    </div>
    <div class="right">
      {{if .IsUser}}
        <a href="/logout">Logout</a>
        <a href="/profile">Profile</a>
      {{else}}
        <a href="/login">Login</a>
        <a href="/register">Register</a>
      {{end}}
    </div>
  </div>

  <h1 style="color: white;">Viewing Content</h1>

  <div class="image-grid">
    {{range .Posts}}
      <a href="/view/posts/{{.ID}}">
        <img src="/assets/images/{{.Path}}" alt="Image">
      </a>
    {{end}}
  </div>
  
</body>
</html>